*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "JapanFont";
  src: url("/public/assets/fonts/NotoSerifJP-Regular.ttf") format("truetype");
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: "JapanFont", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  
}

body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
