.chart-section {
  padding: 2rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 1rem;
  background-color: #ffffff;
  text-align: center;
  width: 60%;
}

.chart-section h2 {
  margin-bottom: 1rem;
}
